.tile {
  position: relative;
  margin-bottom: 15px;
  cursor: zoom-in;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.tile-actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tile-bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tile-title {
  margin: 0;
}

.tile-tag-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;
}

.tile-tag {
  font-style: italic;
  margin-top: 5px;
  border-radius: 20px !important;
}
